.top-bg{
    background-image: url("../assets/misc/encabezado.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vw;
    width: 100vw;
}

.text-orange{
    color: #FD4918;
}




.page-header{
    font-size: 1.5rem;
}

.page-header a{
    font-size: 0.6em;
    padding: 0.2em 0.2em 0 0.2em;
    height: fit-content;
}

.page-header p{
    font-size: 0.3em;
    margin-bottom: 0.4em;
    margin-top: -1em;
}

.page-header .col-6{
    padding: 0 10vw 0 10vw;
}

.page-header h1{
    font-size: 12vw;
    margin-bottom: 0;
    font-weight: 600;
    font-family: "Encode Sans Condensed", sans-serif;
    text-shadow: 1px 1px 6px #000000;
}





.page-navbar{
    font-size: 1rem;
    background-color: #383838;
}

.page-navbar nav{
    padding: 1vw 5vw 1vw 5vw;
}

.container .page-navbar{
    padding: 0;
}

.navbar-toggler i{
    font-size: 0.7em;
}

.page-navbar li{
    margin: 0;
}

.page-navbar a{
    color: white;
    text-decoration: none;
}

.page-navbar .navbar-button{
    height: fit-content;
    width: fit-content;
    border-color: #FD4918;
    border-style: solid;
    border-width: 1px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.page-navbar .navbar-button p{
    padding: 0.9em 1em 0.9em 1em;
}

.navbar-button:hover{
    background-color: #FD4918;
}

.navbar-button p:hover{
    color: #383838;
}

.navbar-button p{
    color:#FD4918;
}

.page-navbar p{
    font-family: "Encode Sans Condensed", sans-serif;
    font-size: 0.35em;
    font-weight: 600;
    margin-bottom: 0;
}


.page-navbar h2{
    font-size: 0.8em;
    font-weight: 700;
}

#navbar-icon{
    background-color: #FD4918;
    height: 0.8em;
    width: 0.2em;
    margin-right: 0.2em;
}

.page-navbar .nav-item p{
    position: relative;
    text-decoration: none; 
}

.page-navbar .nav-item a:hover{
    color: #FD4918;
}

.page-navbar .nav-item p::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0;
    height: 2px;
    background-color: #FD4918;
    transition: width 0.4s ease; 
}

.page-navbar .nav-item p:hover::after {
    width: 100%; 
}

.page-navbar .navbar-toggler{
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
    padding: 0;
}


.invitados{
    font-size: 0.8rem;
    margin: 3vw;
}

.invitados h2{
    font-size: 1.4em;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 600;
    margin-bottom: 0;
}

.invitados h3{
    font-size: 1em;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 600;
    margin: 0;
}

.separador{
    width: 3em;
    margin-bottom: 0.3em;
}

.invitados-card{
    margin: 0.8em 0.2em;
    position: relative;
    z-index: 1;
}

.invitados-card img{
    filter: grayscale(100%);
}

.invitados-card-name{
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: max-content;
    height: 2em;
    padding: 0.5em 0.5em 0.5em 1em;
    background-color: #383838;
    opacity: 85%;
    transition: height 0.4s ease;
    overflow: hidden;
}

.invitados-card-name h3{
    position: relative;
    opacity: 1;
    color: #FD4918;
}

.invitados-card-name a{
    font-size: 0.8em;
    position: relative;
    opacity: 1;
    text-decoration: none;
    color: #FFFFFF;
}

.invitados-card-name a:hover{
    color: #FD4918;
}

.invitados-card-name:hover{
    height: 4em;
}


.prices{
    background-color: #F2F2F2;
    font-size: 1rem;
    padding: 5vw 0 2vw 0;
}

.prices .row{
    padding: 0 4vw;
}

.prices h2{
    font-size: 1.4em;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 700;
    margin-bottom: 0;
}





@media screen and (min-width: 576px){
    .page-header{
        font-size: 1.5rem;
    }

    .page-navbar{
        font-size: 1.5rem;
    }

    .invitados{
        font-size: 0.8rem;
    }
    
}


@media screen and (min-width: 768px){
    .page-header{
        font-size: 2rem;
    }

    .page-navbar{
        font-size: 2rem;
    }

    .invitados{
        font-size: 1rem;
    }
    
}

@media screen and (min-width: 992px){
    .page-header{
        font-size: 2rem;
    }

    .page-navbar{
        font-size: 2rem;
    }

    .invitados{
        font-size: 1rem;
    }
    
}

@media screen and (min-width: 1200px){
    .page-header{
        font-size: 3rem;
    }

    .page-navbar{
        font-size: 3rem;
    }
    
    .invitados{
        font-size: 1.5rem;
    }

}