.top-bg{
    background-image: url("../assets/misc/encabezado.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vw;
}

.text-orange{
    color: #FD4918;
}

.page-header{
    font-size: 1rem;
}

.page-header a{
    font-size: 0.6em;
    padding: 0.2em 0.2em 0 0.2em;
    height: fit-content;
}

.page-header p{
    font-size: 0.3em;
    margin-bottom: 0.4em;
    margin-top: -1em;
}

.page-header .col-6{
    padding: 0 10vw 0 10vw;
}

.page-header h1{
    font-size: 12vw;
    margin-bottom: 0;
    font-weight: 600;
    font-family: "Encode Sans Condensed", sans-serif;
    text-shadow: 1px 1px 6px #000000;
}

.page-navbar{
    font-size: 1rem;
    background-color: #383838;
}

.container .page-navbar{
    padding: 0;
}

.navbar-toggler i{
    font-size: 0.7em;
}

.page-navbar h2{
    font-size: 0.8em;
    font-weight: 700;
}

.page-navbar li{
    margin: 0;
}

.page-navbar a{
    color: white;
}

.page-navbar .navbar-button{
    padding: 0.3em 0.3em 0.3em 0.6em;
    border-color: #FD4918;
    border-style: solid;
    border-width: 1px;
}

.navbar-button:hover{
    border-width: 3px;
}

.navbar-button p{
    color:#FD4918;
}

.page-navbar p{
    font-family: "Encode Sans Condensed", sans-serif;
    font-size: 0.4em;
    font-weight: 600;
    margin-bottom: 0;
}

#navbar-icon{
    background-color: #FD4918;
    height: 0.8em;
    width: 0.2em;
    margin: 0 5px 0 5vw;
}